<form>
  <div class="alert alert-danger hide">
  </div>

  <div class="form-group">
    <label for="habit_name">Habit name</label>
    <input type="text" name="habit_name" id="habit_name" class="form-control" value="<%= habit_name %>" />
  </div>

  <input type="submit" class="btn btn-primary" value="Save" />
</form>
