%nav.navbar.navbar-default.navbar-static-top
  .container-fluid
    .navbar-header
      %a.navbar-brand{href: root_path}
        StickerCalendar

      %ul.nav.navbar-nav
        %li.active
          %a{href: 'stickers'} Stickers
